<div class="py-5">
  <div class="card">
    <div class="card-header">
      StatisticsDashboard
    </div>
    <div class="card-body">

      <ngb-tabset type="Simple">
        <ngb-tab title="Account">
          <ng-template ngbTabContent>
            <table class="card-text table table-sm">
              <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Submits</th>
                <th scope="col">Most Searched Language</th>
                <th scope="col">Frequency</th>
              </tr>
              </thead>
              <tbody>

              <tr>
                <td>{{userDetails.name}}</td>
                <td>{{userDetails.email}}</td>
                <td>{{userEntries.length}}</td>
                <td>{{this.getMostCountedKey()}}</td>
                <td>{{this.getMostCountedVal()}}</td>
              </tr>
              </tbody>
            </table>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Submit text">
          <ng-template ngbTabContent>
            <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
            <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage= null">{{ errorMessage }}</ngb-alert>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Text</span>
              </div>
              <input type="text" class="form-control" [(ngModel)]="this.newText" placeholder="Enter your text here..." aria-label="text" aria-describedby="basic-addon1">
              <button class="btn btn-outline-secondary" type="button" (click)="addNewEntrie()" id="button-addon2">Send</button>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Language Scores">
          <ng-template ngbTabContent>
            <div *ngIf="userEntries.length < 1">
              <div class="alert alert-primary" role="alert">
                No entries found! start submitting your text strings.
              </div>
            </div>

            <div *ngIf="userEntries.length > 0">
              <table class="card-text table table-sm table-dark">
                <thead>
                <tr>
                  <th scope="col">Language</th>
                  <th scope="col">Score</th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let key of langCountKey; let i = index">
                  <td>{{key}}</td>
                  <td>{{langCountVal[i]}}</td>
                </tr>

                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Latest 10">
          <ng-template ngbTabContent>
            <div *ngIf="userEntries.length < 1">
              <div class="alert alert-primary" role="alert">
                No entries found! start submitting your text strings
              </div>
            </div>

            <div *ngIf="userEntries.length > 0">
              <table class="card-text table table-sm table-dark">
                <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Text</th>
                  <th scope="col">Lang</th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let entrie of userEntries; let i = index">
                  <td *ngIf="i<10">{{entrie.date | date: 'shortDate'}}</td>
                  <td *ngIf="i<10">{{entrie.text}}</td>
                  <td *ngIf="i<10">{{entrie.result}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Full History">
          <ng-template ngbTabContent>
            <div *ngIf="userEntries.length < 1">
              <div class="alert alert-primary" role="alert">
                No entries found! start submitting your text strings
              </div>
            </div>

            <div *ngIf="userEntries.length > 0">
              <table class="card-text table table-sm table-dark">
                <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Text</th>
                  <th scope="col">Lang</th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let entrie of userEntries">
                  <td>{{entrie.date | date: 'shortDate'}}</td>
                  <td>{{entrie.text}}</td>
                  <td>{{entrie.result}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-tab>

      </ngb-tabset>



    </div>
  </div>
</div>
